<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-button class="close-modal" fill="clear" (click)="dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
      <div slot="end">
        <ion-button class="close-modal" fill="clear" (click)="send()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="modal-content">
    <ion-list class="item-transparent">
      <ion-list-header>
        <ion-label class="support-title" translate="HELPPAGE.NEWTICKET"></ion-label>
      </ion-list-header>
      <ion-item class="item-transparent">
        <ion-label position="floating" translate="HELPPAGE.SUBJECT"></ion-label>
        <ion-input [(ngModel)]="ticket.title"></ion-input>
      </ion-item>
      <ion-item class="item-transparent">
        <ion-label position="floating" translate="HELPPAGE.DEVICE"></ion-label>
        <ion-select  [(ngModel)]="ticket.device_type">
          <ion-select-option *ngFor="let option of deviceList" value="{{option.ID}}">{{option.NAME}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="item-transparent">
        <ion-label position="floating" translate="HELPPAGE.PROBLEM"></ion-label>
        <ion-textarea [(ngModel)]="ticket.text" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" translate="HELPPAGE.SEND" (click)="send()"></ion-button>
  </div>
</ion-content>