.close-modal {
    --background: transparent !important;
}

.danger{
    .modal-content{
        color: var(--ion-color-danger-contrast) !important;
        small{
            color: #ddd;
        }
        p{
            color: #eee;
        }
    }
}

.modal-content{
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10% 10% 0% 10%;
    
}

.support-title{
    font-size: 22px;
}