<ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToCamera()">
  <ion-icon name="camera" slot="start"></ion-icon>
  <ion-label class="option">{{'PROFILE.USECAMERA' | translate}}</ion-label>
  <ion-ripple-effect></ion-ripple-effect>
</ion-item>
<!-- <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToGallery()">
  <ion-icon name="image" slot="start"></ion-icon>
  <ion-label class="option">{{'PROFILE.USEGALLERY' | translate}}</ion-label>
  <ion-ripple-effect></ion-ripple-effect>
</ion-item> -->