.search-container {
    margin: 40px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    .search {
        --background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        --border-radius: 20px;
        width: 70%;
    }
}
.item-faq {
    border-bottom: 1px solid var(--ion-color-primary);
}
