<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}/settings" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SETTINGS_TITLE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="search-container">
    <ion-searchbar (ionInput)="searchData($event)" class="search" showCancelButton="focus"></ion-searchbar>
  </div>

  <ion-list class="item-transparent" lines="none">
    <!-- QUESTION BLOCK CHANGE CLICK VALUE AND IF CONDITION -->
    <div class="item-faq" *ngFor='let faq of filteredFaqs; let i=index;'>
      <ion-item class="item-transparent ion-activatable ripple-parent" (click)="toggle(i)">
        <ion-label class="option">{{faq.QUESTION}}</ion-label>
        <ion-icon slot="end" icon="chevron-down-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <div *ngIf="visible[i] == true">
        <ion-card class="card-background">
          <ion-card-header>
            <ion-card-title>
              {{faq.QUESTION}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{faq.RESPONSE}}
          </ion-card-content>
        </ion-card>
      </div>
      <!-- END QUESTION -->
    </div>

  </ion-list>
</ion-content>