<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="help/support" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="HELP"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-card class="card-background">
      <ion-card-header>
        <ion-card-title>
          {{ticket.title}}
        </ion-card-title>
        <small>{{ticket.created_at}}</small>
      </ion-card-header>
      <ion-card-content>
        <p>{{ticket.text}}</p>
      </ion-card-content>
      <ion-card-content class="content-icons">
        <ion-chip color="tertiary" *ngIf="ticket.status === 'open'">
          <ion-icon name="lock-open"></ion-icon>
          <ion-label translate="HELPPAGE.STATUS.OPEN"></ion-label>
        </ion-chip>
        <ion-chip color="tertiary" *ngIf="ticket.status === 'closed'">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-label translate="HELPPAGE.STATUS.CLOSED"></ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
          <ion-icon name="person"></ion-icon>
          <ion-label translate="YOU"></ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
          <ion-icon name="chatbox"></ion-icon>
          <ion-label>{{ticket.responses ? ticket.responses.length : '0'}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <p class="divider" translate="HELPPAGE.RESPONSES"></p>

    <ion-list class="item-transparent" *ngIf="ticket.responses && ticket.responses.length > 0; else elseListTickets">
      <ion-card class="card-background" [class.response]="response.support" *ngFor="let response of ticket.responses">
        <ion-card-header>
          <small>{{response.created_at}}</small>
        </ion-card-header>
        <ion-card-content>
          <p>{{response.text}}</p>
        </ion-card-content>
        <ion-card-content class="content-icons">
          <ion-chip color="tertiary">
            <ion-icon name="person"></ion-icon>
            <ion-label [class.response]="response.support">{{response.person}}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ng-template #elseListTickets>
      <ion-card>
        <ion-card-content class="card-background">
          <p translate="HELPPAGE.NORESPONSE"></p>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <br><br>
    <ion-card>
      <ion-card-content class="card-background">
        <p translate="HELPPAGE.ADDREPLI"></p>
        <ion-item class="item-transparent">
          <ion-label position="floating" translate="HELPPAGE.PROBLEM"></ion-label>
          <ion-textarea [(ngModel)]="reply.text" rows="6" cols="20" placeholder="Enter any notes here...">
          </ion-textarea>
        </ion-item>

        <ion-button color="secondary" expand="block" translate="HELPPAGE.REPLI" (click)="sendReply()"></ion-button>
      </ion-card-content>
    </ion-card>

    <div style="display:flex;     justify-content: center;">
      <ion-button color="danger" translate="HELPPAGE.DELETE" (click)="delete()"></ion-button>
    </div>
  </div>

</ion-content>