.content-icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.response{
    background: var(--ion-color-secondary);
    color: var(--ion-color-primary) !important;
}
.divider{
    text-align: center;
    font-size: 12px;
    margin: 0px;
}