<ion-content class="screen-background">
  <div class="header-back-button">
    <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
  </div>
  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>

  <ion-grid class="full-block">
    <ion-row class="full-block">
      <ion-col class="col-center" *ngIf="step == 1">

        <div class="circle-container">
          <div class="circle-animation">
            <div class="circle main">
              <img src="../../../assets/img/LOGO_INFINION_3_blanco.png" alt="LOGO">
            </div>
            <div class="circle animation animation1"></div>
            <div class="circle animation animation2"></div>
            <div class="circle animation animation3"></div>
            <div class="circle animation animation4"></div>
          </div>
        </div>

        <h4 class="" translate="RECOVER.RECOVER"></h4>
        <div class="ion-margin-bottom">
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-input name="email" autocomplete="email" placeholder="{{_t.EMAIL}}" type="email" [(ngModel)]="formData.email"></ion-input>
          </ion-item>

          <ion-button class="ion-text-uppercase ion-margin-top" shape="round" color="primary" expand="block"
            translate="RECOVER.SEND" (click)="doRecover()"></ion-button>

          <p class="recover-help">
            <small translate="RECOVER.TEXT_RECOVER"></small>
          </p>

          <ion-button class="ion-text-uppercase ion-margin-top" shape="round" fill="clear" color="primary"
            expand="block" translate="RECOVER.IHAVECODE" (click)="goNext()"></ion-button>
        </div>
      </ion-col>

      <ion-col class="col-center" *ngIf="step == 2">
        <h4 class="" translate="RECOVER.RECOVER"></h4>
        <div class="ion-margin-bottom">
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-input name="code" autocomplete="code" placeholder="{{_t.CODE}}" type="text" [(ngModel)]="formData.token"></ion-input>
          </ion-item>

          <ion-button class="ion-text-uppercase ion-margin-top" shape="round" color="primary" expand="block"
            translate="RECOVER.VERIFY" (click)="doVerify()"></ion-button>

          <p class="recover-help">
            <small translate="RECOVER.TEXT_VERIFY"></small>
          </p>
        </div>
      </ion-col>

      <ion-col class="col-center" *ngIf="step == 3">
        <h4 class="" translate="RECOVER.NEWPASSWORD"></h4>
        <div class="ion-margin-bottom">
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-input name="password" autocomplete="new-password" placeholder="{{_t.PASSWORD}}" type="password" [(ngModel)]="formData.password"></ion-input>
          </ion-item>
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-input name="repeat" autocomplete="new-password" placeholder="{{_t.REPEAT}}" type="password" [(ngModel)]="formData.repeatPassword"></ion-input>
          </ion-item>

          <ion-button class="ion-text-uppercase ion-margin-top" shape="round" color="primary" expand="block"
            translate="RECOVER.SEND" (click)="doChangePassword()"></ion-button>

          <p class="recover-help">
            <small translate="RECOVER.TEXT_NEWPASSWORD"></small>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab class="fab-buttom-bottom" vertical="end" horizontal="center" slot="fixed">
    <ion-fab-button>
    </ion-fab-button>
  </ion-fab>
</ion-content>