.fab-buttom-bottom {
    bottom: 10px;
}
.button-login{
    height: 70px;
    --border-radius: 30px;
}
.item-imput{
    --height: 32px !important;
    --min-height: 32px !important;
}
.ion-margin-bottom{
    margin-bottom: 4px;
}
.recover-help{
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 16px;
}
.circle-container{
    margin-bottom: 35px;
}