<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title">{{ 'PROFILE.NOTIFICATIONS' | translate }}</ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-item class="item-transparent">
      <ion-label class="option">
        <h2>{{'PROFILE.NOTIS.PROMO' | translate}}</h2>
        <h3>{{'PROFILE.NOTIS.PROMO_TEXT' | translate}}</h3>
      </ion-label>
      <ion-toggle color="primary" (ionChange)="updateProfile()" [(ngModel)]="user.promo_notifications"></ion-toggle>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-label class="option">
        <h2>{{'PROFILE.NOTIS.UPDATES' | translate}}</h2>
        <h3>{{'PROFILE.NOTIS.UPDATES_TEXT' | translate}}</h3>
      </ion-label>
      <ion-toggle color="primary" (ionChange)="updateProfile()" [(ngModel)]="user.firmware_notifications"></ion-toggle>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-label class="option">
        <h2>{{'PROFILE.NOTIS.DEVICE' | translate}}</h2>
        <h3>{{'PROFILE.NOTIS.DEVICE_TEXT' | translate}}</h3>
      </ion-label>
      <ion-toggle color="primary" (ionChange)="updateProfile()" [(ngModel)]="user.device_notifications"></ion-toggle>
    </ion-item>
  </div>
</ion-content>