ion-list {
    ion-item {
        border-bottom: 1px solid var(--ion-color-primary);
    }
}

.option {
    margin-left: 10px;
    h3{
        font-size: 11px;
    }
}

.value {
    font-size: 12px;
    color: #666;
}