<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}/settings" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SETTINGS_TITLE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>
  
  <div class="spacer-top"></div>
  
  <div class="circle-container">
    <div class="circle-animation">
      <div class="circle main">
        <img src="../../../assets/img/LOGO_INFINION_3_blanco.png" alt="LOGO">
        <div class="amount">{{settings.firmware}}</div>
        <div class="date">{{settings.firmware_date}}</div>
      </div>
      <div class="circle animation animation1"></div>
      <div class="circle animation animation2"></div>
      <div class="circle animation animation3"></div>
      <div class="circle animation animation4"></div>
    </div>
  </div>

  <div class="update-container">
    <div *ngIf="updateReady else noupdate">
      <ion-button class="ion-text-uppercase button-login" color="primary" expand="block"
        translate="SETTINGS.UPDATEREADY"></ion-button>
    </div>
    <ng-template #noupdate>
      <p translate="SETTINGS.NOUPDATE"></p>
      <ion-button disabled class="ion-text-uppercase button-login" color="primary" expand="block"
        translate="SETTINGS.UPDATEREADY"></ion-button>

    </ng-template>
  </div>

</ion-content>