.spacer-top{
    height: 15%;
}
.amount{
    font-size: 30px;
}
.date{
    margin-top: 10px;
    font-size: 14px;
}

.update-container{
    display: flex;
    height: 40%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
}