<ion-content class="screen-background" [class.dark]="device && device.settings && device.settings.mode == 5">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button class="back-button" defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="LOADING" *ngIf="loading"></ion-title>
      <ion-title class="page-title" *ngIf="!loading">{{device.name}}</ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>

  <div class="device-content">
    <div class="circle-container">
      <div class="circle-animation">
        <div class="circle main" tappable (click)="changeMetter($event)" *ngIf="!loading else circleLoading">
          <ion-slides #dataSlider *ngIf="device.mode != 0 else deviceOff" class="slider-circle" pager="true"
            [options]="slideOptions" style="width: 100%;">
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.AQIFULL' | translate}}
                  <ion-badge (click)="showHelp($event, 'AQI')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('aqi') }}
                </span>
                <small>{{device.last_data && device.last_data.aqi ? (device.last_data.aqi | number : '1.1-1') : "GOOD"}}
                  {{'AQI' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.PM25' | translate}}
                  <ion-badge (click)="showHelp($event, 'PM25')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('pm25') }}
                </span>
                <small>{{device.last_data && device.last_data.pm25 ? (device.last_data.pm25 | number :
                  '1.1-1') : "GOOD"}} {{'PARTICLES' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.PM10' | translate}}
                  <ion-badge (click)="showHelp($event, 'PM10')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('pm10') }}
                </span>
                <small> {{device.last_data && device.last_data.pm10 ? (device.last_data.pm10 | number :
                  '1.1-1') : "GOOD"}} {{'PARTICLES' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.HVOC' | translate}}
                  <ion-badge (click)="showHelp($event, 'HVOC')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('hvoc') }}
                </span>
                <small>{{device.last_data && device.last_data.hcoh ? (device.last_data.hcoh | number : '1.1-1') :
                  "---"}} {{'PPM' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.CO' | translate}}
                  <ion-badge (click)="showHelp($event, 'CO')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('co') }}
                </span>
                <small>{{device.last_data && device.last_data.co ? ((device.last_data.co * 0.01) | number : '1.1-1') : "---"}}
                  {{'PPM' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-messures">
                <span class="meassure">
                  {{'MEASURES.CO2' | translate}}
                  <ion-badge (click)="showHelp($event, 'CO2')" class="badge-help" color="primary">?</ion-badge>
                </span>
                <span class="amount">
                  {{ transformMeasureToCualification('co2') }}
                </span>
                <small>{{device.last_data && device.last_data.co2 ? (device.last_data.co2 | number : '1.1-1') : "---"}}
                  {{'PPM' | translate}}</small>
                <ng-template #circleLoading>
                  <div>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </div>
                </ng-template>
              </div>
            </ion-slide>
          </ion-slides>
          <ng-template #deviceOff>
            <ion-slides class="slider-circle" pager="false" [options]="slideOpts" style="width: 100%;">
              <ion-slide>
                <div class="slide-messures">
                  <span class="meassure">
                    Device is
                  </span>
                  <span class="amount">
                    Off
                  </span>
                  <ng-template #circleLoading>
                    <div>
                      <ion-spinner name="bubbles"></ion-spinner>
                    </div>
                  </ng-template>
                </div>
              </ion-slide>
            </ion-slides>
          </ng-template>
        </div>
        <div class="circle animation animation1"></div>
        <div class="circle animation animation2"></div>
        <div class="circle animation animation3"></div>
        <div class="circle animation animation4"></div>
      </div>
    </div>

    <div class="temp-humidity-container">
      <ion-grid>
        <ion-row>
          <ion-col class="col-izq">
            <div>
              <ion-item class="item-transparent" lines="none">
                <ion-icon slot="end" name="thermometer-outline"></ion-icon>
                <ion-label class="amount" style="text-align: right;">
                  <span *ngIf="!loading else tempLoading">{{device.last_data && device.last_data.temperature ? (device.last_data.temperature - 5
                    | number : '2.0-0') : "---"}}</span>
                  <ng-template #tempLoading>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </ng-template>
                </ion-label>
              </ion-item>
            </div>
            <div>
              {{'MEASURES.TEMP' | translate}} (º{{device && device.settings && device.settings.temp_format ?
              device.settings.temp_format : 'C'}})
            </div>
          </ion-col>
          <ion-col class="col-der">
            <div>
              <ion-item class="item-transparent" lines="none">
                <ion-icon slot="start" name="water-outline"></ion-icon>
                <ion-label class="amount">
                  <span *ngIf="!loading else humidityLoading">{{device.last_data && device.last_data.humidity + 15 ?
                    (device.last_data.humidity | number : '2.0-0') :
                    "---"}}</span>
                  <ng-template #humidityLoading>
                    <ion-spinner name="bubbles"></ion-spinner>
                  </ng-template>
                </ion-label>
              </ion-item>
            </div>
            <div>
              {{'MEASURES.HUMIDITY' | translate}} (%)
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="wifi-container">
    <ion-icon name="wifi-outline"></ion-icon>
    <ion-icon *ngIf="!device.connected" name="ban-outline" style="position: relative; top: -17px; transform: scale(4);">
    </ion-icon>
    <p>{{'DEVICE.LASTSEE' | translate}}:
      <span *ngIf="device.last_data && device.last_data.timestamp; else noDataTime">{{ device.last_data.timestamp |
        timeago:live}}</span>
      <ng-template #noDataTime>
        NO DATA
      </ng-template>
    </p>
    <div></div>
  </div>

  <div class="card-tabs-container">
    <ion-card class="card-tabs">
      <ion-card-content>
        <ion-button color="secondary" expand="block" fill="clear" tappable (click)="goToData($event)">
          <ion-icon name="stats-chart"></ion-icon>
        </ion-button>
        <ion-button (click)="showDisconnected($event)" *ngIf="!device.connected || loading" color="secondary"
          expand="block" fill="clear" tappable>
          <ion-icon name="cloud-offline-outline"></ion-icon> <br>
        </ion-button>
        <ion-button *ngIf="device.connected && !loading" color="secondary" expand="block" fill="clear" tappable
          (click)="changeMode($event)">
          <ion-icon name="{{device.modeObj ? device.modeObj.icon : 'radio-button-off-outline'}}"></ion-icon>
        </ion-button>
        <ion-button color="secondary" expand="block" fill="clear" tappable (click)="goToSettings($event)">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>