//Night mode
.dark {
    --background: linear-gradient(
        90deg,
        rgb(var(--ion-color-primary-rgb)) 0%,
        rgb(var(--ion-color-primary-rgb-gradient)) 50%,
        rgb(var(--ion-color-primary-rgb)) 100%
    );
    background: linear-gradient(
        90deg,
        rgb(var(--ion-color-primary-rgb)) 0%,
        rgb(var(--ion-color-primary-rgb-gradient)) 50%,
        rgb(var(--ion-color-primary-rgb)) 100%
    );
    .menu-btn {
        ion-icon {
            color: #fff;
        }
    }
    .back-button {
        color: #fff !important;
    }
    ion-label,
    ion-icon {
        color: var(--ion-color-secondary);
    }
    .temp-humidity-container {
        ion-icon {
            color: var(--ion-color-secondary);
        }
    }
    div {
        color: var(--ion-color-secondary);
    }
    .wifi-container {
        ion-icon {
            color: var(--ion-color-secondary);
        }
    }

    .circle {
        background-color: var(--ion-color-primary);
    }

    .circle.animation {
        background-color: rgba(var(--ion-color-primary-rgb), 0.3);
    }

    .badge-help {
        background-color: #fff !important;
        color: var(--ion-color-primary);
    }

    .snowflake {
        background-color: rgba(var(--ion-color-primary-rgb), #{random() + 0.1});
    }
}

//Dirt mode
.dirt {
    --background: linear-gradient(
        90deg,
        rgb(var(--ion-color-dirt-rgb)) 0%,
        rgb(var(--ion-color-dirt-rgb-gradient)) 50%,
        rgb(var(--ion-color-dirt-rgb)) 100%
    );
    background: linear-gradient(
        90deg,
        rgb(var(--ion-color-dirt-rgb)) 0%,
        rgb(var(--ion-color-dirt-rgb-gradient)) 50%,
        rgb(var(--ion-color-dirt-rgb)) 100%
    );
    .menu-btn {
        ion-icon {
            color: var(--ion-color-primary);
        }
    }
    .back-button {
        color: var(--ion-color-primary) !important;
    }
    .temp-humidity-container {
        ion-icon {
            color: var(--ion-color-primary);
        }
        .ion-label{
            color: var(--ion-color-secondary);   
        }
    }
    div {
        color: var(--ion-color-primary);
    }
    .wifi-container {
        ion-icon {
            color: var(--ion-color-primary);
        }
    }

    .circle {
        background-color: var(--ion-color-dirt-shade);
    }

    .circle.animation {
        background-color: rgba(var(--ion-color-dirt-shade-rgb), 0.3);
    }

    .snowflake {
        background-color: rgba(var(--ion-color-dirt-shade-rgb), #{random() + 0.1});
    }
}

.device-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
}
.circle-container {
    .circle-animation {
        width: 200px;
        height: 200px;
    }

    .circle {
        width: 200px;
        height: 200px;

        .meassure {
            font-size: 20px;
        }

        .amount {
            font-size: 35px;
            margin-top: 10px;
        }
    }

    .slide-messures {
        display: flex;
        flex-direction: column;
        small {
            font-size: 10px;
        }
    }
}

.temp-humidity-container {
    margin-top: 20px;
    color: var(--ion-color-primary);
    .amount {
        font-size: 26px;
    }
    .col-izq {
        text-align: right;
        border-right: 2px solid var(--ion-color-primary);
        padding-right: 30px;
        ion-icon {
            margin: 10px;
            margin-right: -17px;
        }
    }
    .col-der {
        padding-left: 30px;
        ion-icon {
            margin: 10px;
            margin-left: -17px;
        }
    }
    ion-icon {
        transform: scale(1.5);
        color: var(--ion-color-primary);
    }
}

.wifi-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    ion-icon {
        transform: scale(3);
        color: var(--ion-color-primary);
    }

    p {
        font-size: 12px;
    }
}

::ng-deep {
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
        position: relative !important;
        top: -30px !important;
    }

    .swiper-pagination-bullet {
        background-color: #333;
    }

    .dark {
        .swiper-pagination-bullet {
            background-color: #ddd;
        }
    }
}
