<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="LEGAL"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-card>
      <ion-card-content>
        <h2>INFINION PURZONE APP PRIVACY POLICY</h2>

        <small>Last updated: 17/12/2021</small>
        <br><br>
        <p>In accordance with Regulation (EU) 2016/679 of the European Parliament and of the
          Council of 27 April 2016 on the protection of individuals with regard to the processing of
          personal data and on the free movement of such data (General Data Protection Regulation -
          GDPR), Infinion BV (hereinafter Infinion) informs users of the Infinion Purzone app
          (hereinafter the App) about the processing of personal data, which they have voluntarily
          provided during the registration process, access and use of the service.
          IDENTIFICATION OF THE PERSON RESPONSIBLE FOR THE PROCESSING Infinion BV,
          with CIF/NIF no.: and address for notification purposes at:
        </p>
        <pre>
      ________________________________________ and registered in the Commercial
      Register of _________________ Volume _________, Folio ___________, Section ª, Page
      _______, inscription ª (hereinafter, the Data Controller), is the entity responsible for the
      processing of the data provided by the clients of the Application (hereinafter, the User/s).
      </pre>
        <p>
          2. PURPOSE OF DATA PROCESSING. To proceed with the registration, access and
          subsequent use of the Application, the User must voluntarily provide personal data
          (identification and contact data, essentially name and surname, contact email and mobile
          phone), which will be incorporated into automated media owned by Infinion.
          The collection, storage, modification, structuring and, where appropriate, elimination of the
          data provided by the Users will constitute processing operations carried out by the Data
          Controller, with the aim of guaranteeing the correct functioning of the Application,
          maintaining the service and/or commercial relationship with the User, and for the
          management, administration, information, provision and improvement of the service. The
          personal data provided by the User -especially electronic mail or e-mail- may also be used to
          send newsletters, as well as commercial communications of promotions and/or advertising of
          the Application, provided that the User has previously given his/her express consent to
          receive these communications by electronic means.
        </p>
        <p>
          3. LEGITIMACY. The processing of the User&#39;s data is carried out on the following legal
          bases that legitimise the same:
          - The request for information and/or the contracting of the services of the Application, the
          terms and conditions of which will be made available to the User in all cases, in advance, for
          their express acceptance.
          - The free, specific, informed and unequivocal consent of the User, making this privacy
          policy available to them, which they must accept by means of a declaration or a clear
          affirmative action, such as ticking a box provided for this purpose. In the event that the User
          does not provide Infinion with his/her data, or does so erroneously or incompletely, it will not
          be possible to proceed with the use of the Application.
        </p>
        <p>
          4. CONSERVATION OF PERSONAL DATA. The personal data provided by the User will be
          kept in the systems and databases of the Data Controller for as long as the User continues
          to use the Application and as long as the User does not request its deletion. With the aim of

          purging possible liabilities arising from the processing, the data will be kept for a minimum
          period of five years.
        </p>
        <p>
          5. RECIPIENTS. The data will not be communicated to any third party outside of Infinion,
          unless legally obliged to do so or in any case, after the User&#39;s consent has been requested.
          On the other hand, Infinion may give access to or transmit the personal data provided by the
          User to third party service providers, with whom it has signed data processing agreements,
          and who only access this information in order to provide a service for and on behalf of the
          Controller.
        </p>
        <p>
          6. Infinion informs the User that, as a data hosting service provider and by virtue of the
          provisions of Law 34/2002 of 11 July 2002 on Information Society Services and Electronic
          Commerce (LSSI), it retains for a maximum period of 12 months the information necessary
          to identify the origin of the hosted data and the time at which the service was initiated. The
          retention of this data does not affect the secrecy of communications and may only be used
          within the framework of a criminal investigation or for the safeguarding of public security,
          being made available to judges and/or courts or the Ministry that so requires. The
          communication of data to the State Security Forces and Corps shall be made in accordance
          with the provisions of the regulations on personal data protection, and with the utmost
          respect for the same.
        </p>
        <p>
          7. PROTECTION OF THE INFORMATION STORED. The Data Controller adopts the
          necessary measures to ensure the security, integrity and confidentiality of the data in
          accordance with the provisions of Regulation (EU) 2016/679 of the European Parliament and
          of the Council of 27 April 2016 on the protection of individuals with regard to the processing
          of personal data and on the free movement of such data. Although the Data Controller
          makes backup copies of the content hosted on its servers, it is not responsible for the
          accidental loss or deletion of data by Users. Likewise, it does not guarantee the total
          replacement of data deleted by Users, as said data may have been deleted and/or modified
          during the period of time that has elapsed since the last backup copy. The services provided
          or rendered through the Application, except for specific backup services, do not include the
          replacement of the contents kept in the backup copies made by the Data Controller, when
          this loss is attributable to the User; in this case, a fee will be determined according to the
          complexity and volume of the recovery, always with the prior acceptance of the User. The
          replacement of deleted data is only included in the price of the service when the loss of the
          content is due to causes attributable to the Controller.
        </p>
        <p>
          8. EXERCISE OF RIGHTS. Infinion informs the User that he/she has the rights of access,
          rectification, limitation, suppression, opposition and portability, which may be exercised by
          sending a request to the following e-mail address: INSERT YOUR CONTACT EMAIL.
          Likewise, the User has the right to revoke the consent initially given, and to lodge claims of
          rights before the Spanish Data Protection Agency (AEPD).
        </p>
        <p>
          9. COMMERCIAL COMMUNICATIONS BY ELECTRONIC MEANS. In application of the
          LSSI (Information Society Services Law), Infinion will not send advertising or promotional
          communications by e-mail or any other equivalent means of electronic communication that
          have not been previously requested or expressly authorised by the recipients of the same. In
          the case of users with whom there is a previous contractual, legal or service relationship, the

          Data Controller is authorised to send commercial communications concerning products or
          services of the Data Controller that are similar to those that were initially contracted with the
          client. In the event that the User wishes to unsubscribe from receiving the aforementioned
          communications, he/she may do so by sending his/her wishes by e-mail to: INSERT
          CONTACT EMAIL.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>