<ion-card class="card-device ion-activatable ripple-parent" (click)="goToDevice()">
  <ion-card-header>
    <ion-card-title>{{device.settings.name}}

      <small class="location">
        {{device.settings.location ? device.settings.location.name : ''}}
      </small>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="circle-container">
            <div class="circle-animation">
              <div class="circle main" tappable (click)="changeMetter($event)">
                <ion-slides #dataSlider *ngIf="device.settings.mode != 0 else deviceOff" class="slider-circle"
                  pager="false" [options]="slideOptions" style="width: 100%;">
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.AQIFULL' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.aqi ? (device.last_data.aqi | number : '1.1-1') : "GOOD"}}
                      </span>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.PM25' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.pm25 ? (device.last_data.pm25 | number : '1.1-1') : "GOOD"}}
                      </span>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.PM10' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.pm10 ? (device.last_data.pm10 | number : '1.1-1') : "GOOD"}}
                      </span>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.HVOC' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.hcoh ? (device.last_data.hcoh | number : '1.1-1') : "---"}}
                      </span>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.CO' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.co ? ((device.last_data.co * 0.01) | number : '1.1-1') : "---"}}
                      </span>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="slide-messures">
                      <span class="meassure">
                        {{'MEASURES.CO2' | translate}}
                      </span>
                      <span class="amount">
                        {{device.last_data && device.last_data.co2 ? (device.last_data.co2 | number : '1.1-1') : "---"}}
                      </span>
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>
              <div class="circle animation animation1"></div>
              <div class="circle animation animation2"></div>
              <div class="circle animation animation3"></div>
              <div class="circle animation animation4"></div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="temperature">
            <div class="humidity">
              <ion-chip class="chip" color="secondary">
                <ion-icon class="circle-icon" name="water"></ion-icon>
                <ion-label>{{device.last_data && device.last_data.humidity ? (device.last_data.humidity + 15 | number : '2.0-0'): "---"}} %
                </ion-label>
              </ion-chip>
            </div>
            <div class="temp">
              <ion-chip class="chip"  color="secondary">
                <ion-icon class="circle-icon" name="thermometer-outline"></ion-icon>
                <ion-label>{{device.last_data && device.last_data.temperature ? (device.last_data.temperature - 5 | number : '2.0-0') : "---"}}
                  º{{device.settings.temp_format}}</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button tappable class="button-device button-mode" color="secondary" expand="block"
            (click)="changeMode($event)">
            <div *ngIf="!device.connected">
              <ion-icon name="cloud-offline-outline"></ion-icon>
              <span translate="HOME.DISCONNECTED"></span>
            </div>
            <div *ngIf="device.connected">
              <ion-icon name="{{device.modeObj ? device.modeObj.icon : 'radio-button-off-outline'}}"></ion-icon>
              <span translate="{{device.modeObj ? device.modeObj.title : 'Off'}}"></span>
            </div>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>