.card-device {
    background: rgb(50, 71, 90);
    background: linear-gradient(90deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
    color: var(--ion-color-secondary) !important;

    ion-card-title {
        color: var(--ion-color-secondary) !important;
    }

    .location {
        float: right;
        position: relative;
        top: 5px;
    }

    .circle-container {
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle-animation {
            width: 84px;
            height: 84px;
        }

        .circle {
            width: 84px;
            height: 84px;

            .meassure {
                font-size: 10px;
            }

            .amount {
                font-size: 24px;
                margin-top: -9px;
            }
        }

        .slide-messures {
            display: flex;
            flex-direction: column;
            small {
                font-size: 10px;
            }
        }
    }

    .button-device {
        height: 60px;
        --border-radius: 20px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            ion-icon {
                font-size: 20px;
                margin-bottom: 6px;
            }
        }
    }

    .button-mode {
    }

    .humidity,
    .temp {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        ion-icon {
            font-size: 24px;
            padding: 15px;
        }
    }
}

.animation1 {
    animation-name: animation1-small;
}
.animation2 {
    animation-name: animation2-small;
}
.animation3 {
    animation-name: animation3-small;
}
.animation4 {
    animation-name: animation4-small;
}

@keyframes animation1-small {
    0% {
        left: 3px;
        top: 3px;
    }
    25% {
        left: 3px;
        top: -3px;
    }
    50% {
        left: -3px;
        top: -3px;
    }
    75% {
        left: -3px;
        top: 3px;
    }
    100% {
        left: 3px;
        top: 3px;
    }
}
@keyframes animation2-small {
    0% {
        left: 5px;
        top: -5px;
    }
    25% {
        left: -5px;
        top: -5px;
    }
    50% {
        left: -5px;
        top: 5px;
    }
    75% {
        left: 5px;
        top: 5px;
    }
    100% {
        left: 5px;
        top: -5px;
    }
}
@keyframes animation3-small {
    0% {
        left: -3px;
        top: -3px;
    }
    25% {
        left: -3px;
        top: 3px;
    }
    50% {
        left: 3px;
        top: 3px;
    }
    75% {
        left: 3px;
        top: -3px;
    }
    100% {
        left: -3px;
        top: -3px;
    }
}
@keyframes animation4-small {
    0% {
        left: -4px;
        top: 3px;
    }
    25% {
        left: 4px;
        top: 3px;
    }
    50% {
        left: 4px;
        top: -3px;
    }
    75% {
        left: -4px;
        top: -3px;
    }
    100% {
        left: -4px;
        top: 3px;
    }
}

.chip {

    .circle-icon {
        background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
        border-radius: 50%;
        position: relative;
        left: -7px
    }
}
