<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SERVICE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-card>
      <ion-card-content>
        <h2>INFINION PURZONE APP TERMS AND CONDITIONS OF USE</h2>
        <small>By Infinion BV (hereinafter Infinion):</small>
        <br><br>
        <p>
          1. These Terms and Conditions of Use regulate the rules governing the use of the APP
          PURZONE INFINION PURIFIER (hereinafter the APP), which can be downloaded from the
          Google Play Store App.The download or use of the APP confers the status of User to
          whoever does so and implies acceptance of all the conditions included in this document and
          in the Privacy Policy and Legal Notice of said APP. The User should read these conditions
          each time he/she uses the APP, as they may be modified in the future.
        </p>
        <p>
          2. Only expressly authorised Users may download and use the APP. Users who are not
          authorised may not access such content.
        </p>
        <p>
          3. Charges: You are responsible for payment of all costs or expenses you incur as a result of
          downloading and using the App, including any carrier network or roaming charges. Please
          check with your service provider for details.
        </p>
        <p>
          4. Anonymous Statistics: Infinion reserves the right to track your activity on the Application
          and to report this to our third party statistical service providers. This is done anonymously.</p>
        <p>
          5. Protecting Your Personal Information: We want to help you take all steps necessary to
          protect your privacy and information. Please see the Application&#39;s Privacy Policy to learn
          about the types of information we collect and the steps we take to protect your personal
          information.
        </p>
        <p>
          6. You may not alter or modify any part of the APP, circumvent, disable or otherwise tamper
          with (or attempt to circumvent, disable or tamper with) any security or other program
          features, or use the APP or its contents for any commercial or advertising purpose. It is
          prohibited to use the APP for the purpose of damaging Infinion&#39;s property, rights or interests,
          and to damage or disable Infinion&#39;s or third parties&#39; networks, servers, equipment, products
          and software.
        </p>
        <p>
          7. The APP and its contents (texts, photographs, graphics, images, technology, software,
          links, contents, graphic design, source code, etc.), as well as trademarks and other
          distinctive signs are the property of Infinion or third parties, and the User does not acquire
          any right over them by the mere use of the APP. The User shall refrain from: a) Reproduce,
          copy, distribute, make available to third parties, publicly communicate, transform or modify
          the APP or its contents, except in the cases contemplated by law or expressly authorised by
          Infinion or by the holder of said rights. b) Reproduce or copy for private use the APP or its
          contents, as well as publicly communicate them or make them available to third parties when
          this entails their reproduction. c) Extract or reuse all or a substantial part of the contents of
          the APP.
        </p>
        <p>
          8. Subject to the conditions set out in the previous section, Infinion grants the User a non-
          exclusive, free licence to use the APP for personal use, limited to the national territory and
          for an indefinite period of time. This licence is also granted under the same terms with
          respect to any updates and improvements made to the application. These licences may be
          revoked by Infinion unilaterally at any time by simply notifying the User.
        </p>
        <p>
          9. It is up to the User, in any case, to have adequate tools for the detection and disinfection
          of malicious programs or any other harmful computer element. Infinion is not responsible for
          any damage caused to computer equipment during the use of the APP. Likewise, Infinion
          shall not be liable for any damage caused to Users when such damage is caused by failures
          or disconnections in telecommunications networks that interrupt the service.
        </p>
        <p>
          10. IMPORTANT: We may, without any obligation to you, modify these Terms of Use without
          notice at any time. Your continued use of the App after any modification to these Terms of
          Use will constitute your acceptance of such modifications. If you do not accept these Terms
          of Use or agree to be bound by them, you must not use the App or download or use any
          related software. Your use of the App is at your sole risk. We have no responsibility or
          liability for the deletion or failure to store or transmit any content or other information
          maintained or transmitted by the App. We are not responsible for the accuracy or reliability of
          any information or advice transmitted through the App. We may, at any time, limit or
          discontinue your use at our sole discretion. To the maximum extent permitted by law, in no
          event will we be liable for any related loss or damage.
        </p>
        <p>
          11. You agree to make proper use of the APP in accordance with the Law, these Terms and
          Conditions of Use and any other regulations and instructions that may apply. The User will
          be liable to Infinion and to third parties for any damages that may be caused by non-
          compliance with these obligations.
        </p>
        <p>
          12. These Terms and Conditions of Use are governed entirely by Spanish law. For the
          resolution of any dispute relating to their interpretation or application, the User expressly
          submits to the jurisdiction of the courts of the Netherlands.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>