<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}/settings" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SETTINGS_TITLE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <p class="subtitle" translate="SETTINGS.UNLINK_SUBTITLE"></p>

  <div class="unlink-container">
    <ion-card class="card-background">
      <ion-card-content>
        <div class="app-unlink">
          <p class="subtitle-section" translate="SETTINGS.UNLINK_APP"></p>
          <ion-button class="ion-text-uppercase button-login" color="danger" expand="block" translate="SETTINGS.UNLINK"
            (click)="confirmUnlink()"></ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="device-unlink">
      <ion-card class="card-background">
        <ion-card-content>
          <p class="subtitle-section" translate="SETTINGS.UNLINK_MANUAL"></p>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <img src="https://via.placeholder.com/150" alt="{{_t.UNLINK_MANUALSTEPS.ALT1}}">
              <p translate="SETTINGS.UNLINK_MANUALSTEPS.1"></p>
            </ion-slide>
            <ion-slide>
              <img src="https://via.placeholder.com/150" alt="{{_t.UNLINK_MANUALSTEPS.ALT1}}">
              <p translate="SETTINGS.UNLINK_MANUALSTEPS.1"></p>
            </ion-slide>
            <ion-slide>
              <img src="https://via.placeholder.com/150" alt="{{_t.UNLINK_MANUALSTEPS.ALT1}}">
              <p translate="SETTINGS.UNLINK_MANUALSTEPS.1"></p>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>