.subtitle {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.unlink-container {
    width: 80%;
    margin: auto;
    height: 70%;
    text-align: center;
}
.subtitle-section {
    font-size: 18px;
}
ion-slides {
    ion-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        text-align: justify;
        padding: 20px;
        font-size: 14px;
    }
}
::ng-deep {
    .alert-button-group {
        display: flex !important;
        justify-content: space-between !important;
    }
}