<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="HELP"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-list class="item-transparent" lines="none">
      <ion-item class="item-transparent ion-activatable ripple-parent" routerLink="/help/tutorial">
        <ion-icon name="help-buoy" slot="start"></ion-icon>
        <ion-label class="option">
          <h2>{{'HELPPAGE.GETTINGSTARTED' | translate}}</h2>
          <h3>{{'HELPPAGE.GETTINGSTARTED_TEXT' | translate}}</h3>
        </ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" routerLink="/help/faqs">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label class="option">
          <h2>{{'HELPPAGE.FAQ' | translate}}</h2>
          <h3>{{'HELPPAGE.FAQ_TEXT' | translate}}</h3>
        </ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" routerLink="/help/feedback">
        <ion-icon name="chatbubble-ellipses" slot="start"></ion-icon>
        <ion-label class="option">
          <h2>{{'HELPPAGE.FEEDBACK' | translate}}</h2>
          <h3>{{'HELPPAGE.FEEDBACK_TEXT' | translate}}</h3>
        </ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" routerLink="/help/support">
        <ion-icon name="headset" slot="start"></ion-icon>
        <ion-label class="option">
          <h2>{{'HELPPAGE.SUPPORT' | translate}}</h2>
          <h3>{{'HELPPAGE.SUPPORT_TEXT' | translate}}</h3>
        </ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </div>

</ion-content>