.close-modal {
    --background: transparent !important;
}

.screen-background.alert {
    --background: var(--ion-color-warning-shade);
    --background: linear-gradient(
        90deg,
        rgba(var(--ion-color-warning-shade-rgb), 1) 0%,
        rgba(var(--ion-color-warning-tint-rgb), 1) 100%
    );
    color: var(--ion-color-warning-contrast) !important;
}

.screen-background.danger {
    --background: var(--ion-color-danger-shade);
    --background: linear-gradient(
        90deg,
        rgba(var(--ion-color-danger-shade-rgb), 1) 0%,
        rgba(var(--ion-color-danger-tint-rgb), 1) 100%
    );
    color: var(--ion-color-danger-contrast) !important;
}

.danger{
    .modal-content{
        color: var(--ion-color-danger-contrast) !important;
        small{
            color: #ddd;
        }
        p{
            color: #eee;
        }
    }
}

.modal-content{
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30%;
    padding: 30% 10% 0% 10%;
    text-align: center;

    ion-icon{
        transform: scale(5);
        margin-bottom: 20px;
    }
    
}