<ion-content class="screen-background {{options.type}}">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-button class="close-modal" fill="clear" (click)="dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
      <div slot="end">
        <ion-button class="close-modal" fill="clear" (click)="delete()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="modal-content">

    <ion-icon name="warning-outline"></ion-icon>
    <h2>{{options.title}}</h2>
    <small>{{options.date}}</small>
    <p>{{options.text}}</p>

    <ion-button (click)="goToHelp()" translate="DATAPAGE.WHATDO"></ion-button>

  </div>
</ion-content>