<ion-header class="screen-background">
  <ion-toolbar>
    <div slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
    </div>

    <ion-title class="page-title" translate="DEVICE.ADD_DEVICE"></ion-title>

    <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
      <ion-item class="item-transparent" lines="none">
        <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>


<ion-content class="screen-background">

  <div class="container-help">
    <div class="text-help">
      <h5 translate="DEVICE.HELP_TITLE">
      </h5>
      <p translate="DEVICE.HELP_TEXT">
      </p>
      <img alt="device model help">
    </div>
    <div class="buttons-help">
      <ion-button [routerLink]="'/device-add'" class="button-help" translate="DEVICE.READY">
      </ion-button>
      <a class="small-help" [routerLink]="'/help/infinion-air-purifier'" translate="DEVICE.HELP_SUPPORT"></a>
    </div>
  </div>

</ion-content>