.container-help {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0px 20px;

    .text-help {
        width: 70%;

        p {
            text-align: center;
            font-size: 14px;
        }
    }
    .buttons-help {
        display: flex;
        flex-direction: column;
    }
    .small-help{
        margin-top: 8px;
        font-size: 12px;
        text-decoration: none;
    }
}
