<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">

    <div class="profile-container">
      <div class="circle-container">
        <div class="circle-animation">
          <div class="circle main" *ngIf="!loading" tappable (click)="changePic($event)">
            <img [src]="user.image_url ? serverPath + user.image_url : './../../../assets/img/placeholder-user.png'" src="./../../../assets/img/placeholder-user.png">
          </div>
          <div class="circle animation animation1"></div>
          <div class="circle animation animation2"></div>
          <div class="circle animation animation3"></div>
          <div class="circle animation animation4"></div>
        </div>
      </div>

      <div class="profile-details">
        <h3>{{user.name}} {{user.surname}}</h3>
        <p>{{user.email}}</p>
      </div>
    </div>

    <ion-list class="item-transparent" lines="none">
      <ion-item-divider class="item-transparent">
        <ion-label>{{'PROFILE.SETTINGS' | translate}}</ion-label>
      </ion-item-divider>
      <ion-item class="item-transparent" (click)="setName()">
        <ion-icon name="text"></ion-icon>
        <ion-label class="option">{{'PROFILE.NAME' | translate}}</ion-label>
        <ion-label style="text-align: right;" class="value" slot="end">{{user.name}}</ion-label>
      </ion-item>
      <ion-item class="item-transparent" (click)="setSurname()">
        <ion-icon name="text"></ion-icon>
        <ion-label class="option">{{'PROFILE.SURNAME' | translate}}</ion-label>
        <ion-label style="text-align: right;" class="value" slot="end">{{user.surname}}</ion-label>
      </ion-item>
      <ion-item class="item-transparent">
        <ion-icon name="at-outline"></ion-icon>
        <ion-label class="option disabled">{{'PROFILE.EMAIL' | translate}}</ion-label>
        <ion-label style="text-align: right;" class="value disabled" slot="end">{{user.email}}</ion-label>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToChangePassword()">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-label class="option">{{'PROFILE.CHANGEPASS' | translate}}</ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-label class="option">{{'PROFILE.NOTIFICATIONS' | translate}}</ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToLocation()">
        <ion-icon name="location"></ion-icon>
        <ion-label class="option">{{'PROFILE.LOCATION' | translate}}</ion-label>
        <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="item-transparent">
        <ion-icon name="language"></ion-icon>
        <ion-label class="option">{{'PROFILE.LANG' | translate}}</ion-label>
        <ion-select (ionChange)="changeLang($event)" class="value" [value]="lang" slot="end" placeholder="Select One">
          <ion-select-option value="en-EN">ENG</ion-select-option>
          <ion-select-option value="es-ES">ESP</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>