.active-mode {
    color: var(--ion-color-primary-contrast);
    --background: linear-gradient(
        0deg,
        rgba(var(--ion-color-primary-rgb)) 0%,
        rgba(var(--ion-color-primary-rgb-gradient)) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(var(--ion-color-primary-rgb)) 0%,
        rgba(var(--ion-color-primary-rgb-gradient)) 100%
    );
}

.list-tooltip {
    margin: 0px;
}
