<ion-list class="item-transparent list-tooltip" lines="none">
  <ion-item (click)="changeMode(activeMode.id)" class="item-transparent active-mode">
    <ion-icon slot="start" name="{{activeMode.icon}}"></ion-icon>
    <ion-label class="ion-text-wrap"><b>
        {{activeMode.title}}</b>:
      {{activeMode.text}}</ion-label>
  </ion-item>
  <ion-item-divider color="primary">
    <ion-label translate="DEVICE.MODEDIVIDER">

    </ion-label>
  </ion-item-divider>
  <div *ngFor='let mode of otherModes; let i=index;'>
    <ion-item (click)="changeMode(mode.id)" class="item-transparent ion-activatable ripple-parent">
      <ion-icon slot="start" name="{{mode.icon}}-outline"></ion-icon>
      <ion-label class="ion-text-wrap"><b>
          {{mode.title}}</b>:
        {{mode.text}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </div>
  <div *ngIf="power">
    <ion-item-divider color="primary">
      <ion-label translate="DEVICE.TURNOFFDIVIDER">
      </ion-label>
    </ion-item-divider>
    <ion-item (click)="changeMode(0)" class="item-transparent ion-activatable ripple-parent">
      <ion-icon slot="start" name="radio-button-off-outline"></ion-icon>
      <ion-label class="ion-text-wrap"><b>{{ 'DEVICE.MODES.OFF' | translate }}</b>: {{ 'DEVICE.MODES.OFF_TEXT' |
        translate }}.</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </div>
</ion-list>