<ion-header class="screen-background">
  <ion-toolbar>
    <div slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
    </div>

    <ion-title class="page-title" translate="DEVICE.ADD_DEVICE"></ion-title>

    <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
      <ion-item class="item-transparent" lines="none">
        <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content class="screen-background">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="ion-margin-start" translate="DEVICE.AVAILABLE"></h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-item lines="none" class="item-transparent">
          <ion-label translate="DEVICE.BLUETOOTH"></ion-label>
          <ion-toggle disabled [(ngModel)]="_options.ble"></ion-toggle>
        </ion-item>
        <ion-item lines="none" class="item-transparent">
          <ion-label translate="DEVICE.DEVICE_TYPE"></ion-label>
          <ion-select value="brown" [okText]="_t.OK" [cancelText]="_t.CANCEL">
            <ion-select-option value="brown">Infinion air purifier</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-list lines="none" class="item-transparent" *ngIf="!loading; else elseLoading">
          <ion-item lines="none" class="item-bluetooth" *ngFor='let device of devices; let i=index;'
            (click)="addDevice(device)">
            <ion-label class="ion-text-wrap">{{device.name ? device.name : 'No name found'}} <br>
              <small>ID: {{device.id}}</small>
            </ion-label>
            <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
        <ng-template #elseLoading>
          <div class="loading">
            <ion-spinner name="bubbles"></ion-spinner>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="button-help-container">
    <p translate="DEVICE.DEVICE_NOT_FOUND" style="margin:0px"></p>
    <ion-button [routerLink]="'/device-pairing-help'" class="button-help" translate="DEVICE.CONNECTION_HELP">
    </ion-button>
  </div>

</ion-content>