ion-item {
    --height: 48px;
}

.button-help-container {
    position: fixed;
    display: flex;
    bottom: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.loading{
    text-align: center;
    margin-top: 60px;
}
ion-spinner {
    transform: scale(3);
}

.refresher-refreshing{
    display: none;
}