<ion-list style="margin: 20px 0px;" class="item-transparent" lines="none">
  <ion-item (click)="changeMode(1)" class="item-transparent">
    <ion-icon slot="start" name="power-outline"></ion-icon>
    <ion-label class="ion-text-wrap"><b>{{ 'DEVICE.MODES.ON' | translate }}</b>: {{ 'DEVICE.MODES.ON_TEXT' | translate }}.</ion-label>
  </ion-item>
  <ion-item-divider color="primary">
    <ion-label>

    </ion-label>
  </ion-item-divider>
  <ion-item (click)="changeMode(2)" class="item-transparent">
    <ion-icon slot="start" name="radio-button-off-outline"></ion-icon>
    <ion-label class="ion-text-wrap"><b>{{ 'DEVICE.MODES.OFF' | translate }}</b>: {{ 'DEVICE.MODES.OFF_TEXT' | translate }}.</ion-label>
  </ion-item>
</ion-list>
