<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="profile" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title">{{ 'PROFILE.LOCATION' | translate }}</ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-list class="item-transparent">
      <ion-radio-group [(ngModel)]="user.location_id" *ngIf="user.locations && user.locations.length; else noLocations">
        <ion-list-header>
          <ion-label>{{ 'PROFILE.CHOSELOCATION' | translate }}</ion-label>
        </ion-list-header>

        <ion-item class="item-transparent" *ngFor="let location of user.locations"
          (click)="goToLocation($event, location)">
          <ion-label>
            <h2>{{location.name}}</h2>
            <p><small>lat: {{location.lat}}, lng: {{location.lng}}</small></p>
          </ion-label>
          <ion-item class="item-transparent" lines="none" slot="start">
            <ion-radio (click)="setLocationPrefered($event, location)" slot="start" [value]="location.id"></ion-radio>
          </ion-item>
          <ion-icon (click)="deleteLocation($event, location)" name="trash" slot="end"></ion-icon>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ng-template #noLocations>
      <ion-card>
        <ion-card-content class="card-background">
          <p translate="PROFILE.NOLOCATIONS"></p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="locationPicker()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>