<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <ion-slides pager="true">

      <!-- Slide 1 -->
      <ion-slide>
        <ion-text color="light">
          <img src="https://i1.wp.com/ionicacademy.com/wp-content/uploads/2019/10/async-code-course.png">
          <h1>Hey there!</h1>
          <p>This is an epic app because...</p>
          <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
        </ion-text>
      </ion-slide>

      <!-- Slide 2 -->
      <ion-slide>
        <ion-text color="light">
          <img src="https://i1.wp.com/ionicacademy.com/wp-content/uploads/2020/06/ionic-everywhere-course.png">
          <h1>It's Ionic!</h1>
          <p>... it shows all the basics you need!</p>
          <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
        </ion-text>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>