.update-container{
    display: flex;
    height: 40%;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
}

h5{
    font-size: 14px;
}

.made{
    font-size: 12px;
}