<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>

  <div class="device-content">
    <div class="circle-container">
      <div class="circle-animation">
        <div class="circle main">
          <img src="../../../assets/img/LOGO_INFINION_3_blanco.png" alt="LOGO">
        </div>
        <div class="circle animation animation1"></div>
        <div class="circle animation animation2"></div>
        <div class="circle animation animation3"></div>
        <div class="circle animation animation4"></div>
      </div>
    </div>
  </div>

  <div class="update-container">
    <div>
      <h4 translate="ABOUTPAGE.THANK"></h4>
      <h5> {{ 'ABOUTPAGE.VERSION' | translate }}: {{version}}</h5>
      <div>
        <ion-button fill="clear" color="primary" translate="ABOUTPAGE.LEGAL" routerLink="/legal"></ion-button>
        <ion-button fill="clear" color="primary" translate="ABOUTPAGE.SERVICE" routerLink="/service"></ion-button>
      </div>
      <p class="made" translate="ABOUTPAGE.MADE"></p>

    </div>
  </div>

</ion-content>