<ion-content class="screen-background">
  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>

  <ion-grid class="full-block">
    <ion-row class="full-block">
      <ion-col class="col-center">
        <div class="circle-container">
          <div class="circle-animation">
            <div class="circle main">
              <img src="../../../assets/img/LOGO_INFINION_3_blanco.png" alt="LOGO">
            </div>
            <div class="circle animation animation1"></div>
            <div class="circle animation animation2"></div>
            <div class="circle animation animation3"></div>
            <div class="circle animation animation4"></div>
          </div>
        </div>

        <div class="ion-margin-bottom">
          <form (ngSubmit)="doLogin()" [formGroup]="credentials">

            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="email" autofocus="true" autocomplete="off" placeholder="{{_t.USERNAME}}"
                type="email">
              </ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">{{ 'ERRORS.EMAILREQUIRED' | translate}}</span>
              <span *ngIf="email.errors?.email">{{ 'ERRORS.EMAILINVALID' | translate}}</span>
            </div>


            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="password" autocomplete="off" placeholder="{{_t.PASSWORD}}" type="password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">{{ 'ERRORS.PASSREQUIRED' | translate}}</span>
              <span *ngIf="password.errors?.minlength">{{ 'ERRORS.PASSLENGTH' | translate}}</span>
            </div>

            <ion-button [disabled]="!credentials.valid" type="submit" class="ion-text-uppercase button-login"
              color="primary" expand="block" translate="LOGIN.LOGIN"></ion-button>

          </form>
        </div>
        <!-- <div>
          <ion-button color="primary" fill="outline" shape="round">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button color="primary" fill="outline" shape="round">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </div>-->
        <div>

          <ion-button routerLink="/recover" color="primary" fill="clear" shape="round" translate="LOGIN.RECOVER">
          </ion-button>
          <ion-button routerLink="/register" color="primary" fill="clear" shape="round" translate="LOGIN.REGISTER">
          </ion-button>
        </div>

        <div>
          <br><br>
          <ion-button routerLink="/about" color="primary" fill="clear" shape="round" translate="ABOUT">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>