<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content class="content-menu">
        <ion-menu-toggle auto-hide="false" class="menu-btn">
          <ion-item class="item-transparent" lines="none">
            <ion-label translate="MENU.MENU" class="menu-label"></ion-label><ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-list id="inbox-list">

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item class="item-transparent" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>