<ion-content class="screen-background">
  <div class="header-back-button">
    <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
  </div>
  <div class="snowflake" *ngFor='let item of [].constructor(10); let i=index;'></div>

  <ion-grid class="full-block">
    <ion-row class="full-block">
      <ion-col class="col-center">

        <div class="circle-container">
          <div class="circle-animation">
            <div class="circle main">
              <img src="../../../assets/img/LOGO_INFINION_3_blanco.png" alt="LOGO">
            </div>
            <div class="circle animation animation1"></div>
            <div class="circle animation animation2"></div>
            <div class="circle animation animation3"></div>
            <div class="circle animation animation4"></div>
          </div>
        </div>
        <form (ngSubmit)="doRegister()" [formGroup]="credentialsRegister">
          <div class="ion-margin-bottom">
            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="name" autocomplete="given-name" placeholder="{{_t.NAME}}"
                type="text">
              </ion-input>
            </ion-item>
            <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
              <span *ngIf="name.errors?.required">{{ 'ERRORS.REQUIRED' | translate}}</span>
            </div>

            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="surname" autocomplete="family-name" placeholder="{{_t.SURNMAE}}" type="text">
              </ion-input>
            </ion-item>
            <div *ngIf="(surname.dirty || surname.touched) && surname.errors" class="errors">
              <span *ngIf="surname.errors?.required">{{ 'ERRORS.REQUIRED' | translate}}</span>
            </div>

            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="email" autocomplete="email" placeholder="{{_t.EMAIL}}" type="email">
              </ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">{{ 'ERRORS.EMAILREQUIRED' | translate}}</span>
              <span *ngIf="email.errors?.email">{{ 'ERRORS.EMAILINVALID' | translate}}</span>
            </div>

            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="password" autocomplete="new-password" placeholder="{{_t.PASSWORD}}"
                type="password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">{{ 'ERRORS.PASSREQUIRED' | translate}}</span>
              <span *ngIf="password.errors?.minlength">{{ 'ERRORS.PASSLENGTH' | translate}}</span>
            </div>

            <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
              <ion-input formControlName="password_confirmation" autocomplete="new-password" placeholder="{{_t.REPEAT}}"
                type="password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password_confirmation.dirty || password_confirmation.touched) && password_confirmation.errors" class="errors">
              <span *ngIf="!password_confirmation.errors?.isMatching">{{ 'ERRORS.PASSREPEAT' | translate}}</span>
            </div>

            <ion-button [disabled]="!credentialsRegister.valid" type="submit" class="ion-text-uppercase ion-margin-top" shape="round" color="primary"
              expand="block" translate="REGISTER.REGISTER"></ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>