.fab-buttom-bottom {
    bottom: 10px;
}
.button-login{
    height: 70px;
    --border-radius: 30px;
}
.item-imput{
    --height: 32px !important;
    --min-height: 32px !important;
}
.ion-margin-bottom{
    margin-bottom: 4px;
}
.circle-container{
    margin-bottom: 35px;
}
.errors{
    color: var(--ion-color-danger);
    text-align: center;
    position: relative;
    top: -2px;
    font-size: 13px;
}