<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="HELP"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">

    <ion-refresher slot="fixed" (ionRefresh)="getSupportTickets($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

    <ion-list class="item-transparent" *ngIf="listTickets.length > 0; else elseListTickets">
      <ion-card class="card-background" *ngFor="let ticket of listTickets" (click)="showTicket(ticket)">
        <ion-card-header>
          <ion-card-title>
            {{ticket.title}}
          </ion-card-title>
          <small>{{ticket.created_at}}</small>
        </ion-card-header>
        <ion-card-content>
          <p>{{ticket.text}}</p>
        </ion-card-content>
        <ion-card-content class="content-icons">
          <ion-chip color="tertiary" *ngIf="ticket.status === 'open'">
            <ion-icon name="lock-open"></ion-icon>
            <ion-label translate="HELPPAGE.STATUS.OPEN"></ion-label>
          </ion-chip>
          <ion-chip color="tertiary" *ngIf="ticket.status === 'closed'">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-label translate="HELPPAGE.STATUS.CLOSED"></ion-label>
          </ion-chip>
          <ion-chip color="tertiary">
            <ion-icon name="person"></ion-icon>
            <ion-label translate="YOU"></ion-label>
          </ion-chip>
          <ion-chip color="tertiary">
            <ion-icon name="chatbox"></ion-icon>
            <ion-label>{{ticket.responses ? ticket.responses.length : '0'}}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ng-template #elseListTickets>
      <ion-card>
        <ion-card-content class="card-background">
          <p translate="HELPPAGE.NOTICKETS"></p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalNewSupport()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>