.screen-background {
    .card-add {
        background: rgb(50, 71, 90);
        background: linear-gradient(90deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
        color: var(--ion-color-secondary) !important;

        ion-card-content {
            ion-button {
                font-size: large;
            }
        }
    }
}

.device-content{
    margin-bottom: 90px;
}

.card-background{
    .text-center{
        text-align: center;
    }
}