<ion-header class="screen-background">
  <ion-toolbar>
    <ion-title translate="TITLE"></ion-title>

    <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
      <ion-item class="item-transparent" lines="none">
        <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content class="screen-background">

  <ion-refresher slot="fixed" (ionRefresh)="loadDevices($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div class="device-content">
    <ion-grid>
      <ion-row *ngIf="devices && devices.length; else noDevices">
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="4"
          *ngFor="let device of devices; let i = $index">
          <app-device [device]="device"></app-device>
        </ion-col>
      </ion-row>
      <ng-template #noDevices>
        <ion-row>
          <ion-col>
            <ion-card class="card-background">
              <ion-card-content>
                <h2 class="text-center">{{'HOME.NODEVICES' | translate}}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-template>
      <ion-row>
        <ion-col>
          <ion-card class="card-add">
            <ion-card-content>
              <ion-button [routerLink]="'/device-add'" color="secondary" expand="block" fill="clear"
                translate="HOME.ADD">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!-- <div class="card-tabs-container">
    <ion-card class="card-tabs">
      <ion-card-content>
        <ion-button color="secondary" expand="block" fill="clear" routerLink="/messages">
          <ion-icon name="chatbox"></ion-icon>
        </ion-button>
        <ion-button color="secondary" expand="block" fill="clear" routerLink="/profile">
          <ion-icon name="person"></ion-icon>
        </ion-button>
        <ion-button color="secondary" expand="block" fill="clear" routerLink="/help">
          <ion-icon name="help"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>-->
</ion-content>