<ion-content class="screen-background">
  <ion-toolbar>

  </ion-toolbar>

  <ion-grid class="full-block">
    <ion-row class="full-block">
      <ion-col class="col-center">
        <div class="circle-container">
          <div class="circle-animation">
            <div class="circle main">
              <p>{{'LOGOUT.WAIT' |translate}}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab class="fab-buttom-bottom" vertical="end" horizontal="center" slot="fixed">
    <ion-fab-button>
    </ion-fab-button>
  </ion-fab>
</ion-content>