.fab-buttom-bottom {
    bottom: 10px;
}

.col-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.circle.main{
    font-size: 20px;
    text-align: center;
}