<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="profile" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title">{{ 'PROFILE.CHANGEPASS' | translate }}</ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>


  <div class="device-content">
    <div class="col-center">
      <br>
      <br>
      <br>
      <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
        <ion-label position="floating">{{ 'RECOVER.OLDPASS' | translate }}</ion-label>
        <ion-input name="repeat" autocomplete="new-password" placeholder="{{_t.OLDPASS}}" type="password"
          [(ngModel)]="formData.password"></ion-input>
      </ion-item>
      <p class="recover-help">
        <small translate="RECOVER.TEXT_NEWPASSWORD"></small>
      </p>
      <div class="ion-margin-bottom">
        <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
          <ion-label position="floating">{{ 'RECOVER.PASSWORD' | translate }}</ion-label>
          <ion-input name="password" autocomplete="new-password" placeholder="{{_t.PASSWORD}}" type="password"
            [(ngModel)]="formData.new_password"></ion-input>
        </ion-item>
        <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
          <ion-label position="floating">{{ 'RECOVER.REPEAT' | translate }}</ion-label>
          <ion-input name="repeat" autocomplete="new-password" placeholder="{{_t.REPEAT}}" type="password"
            [(ngModel)]="formData.repeatPassword"></ion-input>
        </ion-item>

        <ion-button class="ion-text-uppercase ion-margin-top" shape="round" color="primary" expand="block"
          translate="RECOVER.CHANGE" (click)="doChangePassword()"></ion-button>


      </div>
    </div>
  </div>
</ion-content>