/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    background: rgb(178, 241, 232);
    background: linear-gradient(
        90deg,
        rgba(178, 241, 232, 1) 0%,
        rgba(227, 255, 255, 1) 50%,
        rgba(178, 241, 232, 1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.full-block {
    height: 100%;
    width: 100%;
}

.item-transparent {
    --background: transparent;
    background-color: transparent;
}

.item-imput {
    border: 1px solid var(--ion-color-primary);
    border-radius: 30px;
    text-align: center;
    --height: 48px;
    ion-label {
        transform: translate3d(0, 6px, 0);
    }
}

.header-back-button {
    display: flex;
    position: fixed;
    z-index: 100;
}

.content-menu {
    --background: rgb(50, 71, 90);
    --background: linear-gradient(90deg, rgba(50, 71, 90, 1) 0%, rgba(28, 45, 58, 1) 100%);
}

.screen-background {
    --background: linear-gradient(
        90deg,
        rgba(178, 241, 232, 1) 0%,
        rgba(227, 255, 255, 1) 50%,
        rgba(178, 241, 232, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(178, 241, 232, 1) 0%,
        rgba(227, 255, 255, 1) 50%,
        rgba(178, 241, 232, 1) 100%
    );
}

.menu-btn {
    ion-icon {
        font-size: 40px;
    }
}

ion-card {
    border-radius: var(--item-border-radius);
    ion-button {
        border-radius: var(--item-border-radius);
    }
}

.page-title {
    text-align: center;
}

ion-button {
    --background: linear-gradient(
        90deg,
        rgba(var(--ion-color-primary-rgb)) 0%,
        rgba(var(--ion-color-primary-rgb-gradient)) 100%
    );
    color: var(--ion-color-primary-contrast);
    --border-radius: var(--item-border-radius);
    text-transform: none;
}

.item-bluetooth {
    --background: linear-gradient(
        90deg,
        rgba(var(--ion-color-primary-rgb)) 0%,
        rgba(var(--ion-color-primary-rgb-gradient)) 100%
    );
    color: var(--ion-color-primary-contrast);

    border-radius: var(--item-border-radius);
    margin-bottom: 8px;

    ion-icon {
        color: var(--ion-color-primary-contrast);
    }
}

.label-input {
    margin-top: 1px;
}

.mode-popover .popover-content {
    width: 320px;
    --background: linear-gradient(0deg, rgba(178, 241, 232, 1) 0%, rgba(227, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(178, 241, 232, 1) 0%, rgba(227, 255, 255, 1) 100%);
}
.mode-popover {
    .popover-arrow:after {
        background-color: rgba(var(--ion-color-primary-rgb-gradient)) !important;
    }
}
.mode-popover.popover-bottom .popover-arrow:after {
    background-color: rgba(178, 241, 232, 1) !important;
}

.help-popover .popover-content {
    background: linear-gradient(
        0deg,
        rgba(var(--ion-color-primary-rgb)) 0%,
        rgba(var(--ion-color-primary-rgb-gradient)) 100%
    );
    color: var(--ion-color-primary-contrast);
    padding: 5px 10px;
    font-size: 12px;
}
.help-big .popover-content {
    width: 80%;
}

.help-popover {
    .popover-arrow:after {
        background-color: rgba(var(--ion-color-primary-rgb-gradient)) !important;
    }
}
.help-popover.popover-bottom .popover-arrow:after {
    background-color: rgba(var(--ion-color-primary-rgb)) !important;
}

.card-tabs-container {
    position: fixed;
    bottom: 8px;
    width: 100%;
    .card-tabs {
        background: rgb(50, 71, 90);
        background: linear-gradient(90deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
        margin: 4px auto 0px auto;
        width: 220px;
        border-radius: 30px;

        ion-card-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

.badge-help {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .circle-animation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        background-color: var(--ion-color-secondary);
        border-radius: 50%;
        color: var(--ion-color-primary) !important;
        position: absolute;
        top: 0px;
    }

    .circle-animation {
        width: 200px;
        height: 200px;
    }
    .circle {
        width: 200px;
        height: 200px;
    }

    .circle.animation {
        background-color: rgba(var(--ion-color-secondary-rgb), 0.3);
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.animation1 {
    animation-name: animation1;
}
.animation2 {
    animation-name: animation2;
}
.animation3 {
    animation-name: animation3;
}
.animation4 {
    animation-name: animation4;
}

@keyframes animation1 {
    0% {
        left: 7px;
        top: 7px;
    }
    25% {
        left: 7px;
        top: -7px;
    }
    50% {
        left: -7px;
        top: -7px;
    }
    75% {
        left: -7px;
        top: 7px;
    }
    100% {
        left: 7px;
        top: 7px;
    }
}
@keyframes animation2 {
    0% {
        left: 10px;
        top: -10px;
    }
    25% {
        left: -10px;
        top: -10px;
    }
    50% {
        left: -10px;
        top: 10px;
    }
    75% {
        left: 10px;
        top: 10px;
    }
    100% {
        left: 10px;
        top: -10px;
    }
}
@keyframes animation3 {
    0% {
        left: -7px;
        top: -7px;
    }
    25% {
        left: -7px;
        top: 7px;
    }
    50% {
        left: 7px;
        top: 7px;
    }
    75% {
        left: 7px;
        top: -7px;
    }
    100% {
        left: -7px;
        top: -7px;
    }
}
@keyframes animation4 {
    0% {
        left: -8px;
        top: 7px;
    }
    25% {
        left: 8px;
        top: 7px;
    }
    50% {
        left: 8px;
        top: -7px;
    }
    75% {
        left: -8px;
        top: -7px;
    }
    100% {
        left: -8px;
        top: 7px;
    }
}
.circle.main {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.snowflake {
    --size: #{random(80) + 20}px;
    width: var(--size);
    height: var(--size);
    background-color: rgba(var(--ion-color-secondary-rgb), #{random() + 0.1});
    border-radius: 50%;
    position: absolute;
    top: -5vh;
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }
    70% {
        opacity: 0.5;
        transform: translate3d(var(--left-end), 70vh, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(var(--left-end), 90vh, 0);
    }
}

@for $i from 1 through 100 {
    .snowflake:nth-child(#{$i}) {
        --size: #{random(20) + 15}px;
        --left-ini: #{random(20) - 10}vw;
        --left-end: #{random(20) - 10}vw;
        left: #{random(100)}vw;
        animation: snowfall #{5 + random(10)}s linear infinite;
        animation-delay: -#{random(10)}s;
    }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
    filter: blur(1px);
}

.tabs {
    ion-label {
        text-transform: none;
    }
}

.card-background {
    background: rgb(50, 71, 90);
    background: linear-gradient(90deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
    color: var(--ion-color-secondary) !important;

    h2 {
        font-weight: bold;
    }

    ion-card-title {
        color: var(--ion-color-secondary) !important;
    }

    ion-label {
        color: var(--ion-color-primary-contrast) !important;
    }

    ion-textarea {
        color: var(--ion-color-primary-contrast) !important;
    }
}

.card-background.alert{
    background: var(--ion-color-warning-shade);
    background: linear-gradient(90deg, 
    rgba(var(--ion-color-warning-shade-rgb), 1) 0%, 
    rgba(var(--ion-color-warning-tint-rgb), 1) 100%);
    color: var(--ion-color-warning-contrast) !important;

    ion-card-title {
        color: var(--ion-color-warning-contrast) !important;
    }
    small{
        color:#333;
    }
}

.card-background.danger{
    background: var(--ion-color-danger-shade);
    background: linear-gradient(90deg, 
    rgba(var(--ion-color-danger-shade-rgb), 1) 0%, 
    rgba(var(--ion-color-danger-tint-rgb), 1) 100%);
    color: var(--ion-color-danger-contrast) !important;

    ion-card-title {
        color: var(--ion-color-danger-contrast) !important;
    }
    small{
        color:#ddd;
    }
}

ion-slides{
    height: 100%;
}

.alert-http-error .alert-wrapper{
    background: var(--ion-color-danger-shade);
    background: linear-gradient(90deg, 
    rgba(var(--ion-color-danger-shade-rgb), 1) 0%, 
    rgba(var(--ion-color-danger-tint-rgb), 1) 100%);
    color: var(--ion-color-danger-contrast) !important;

    .alert-title {
        color: var(--ion-color-danger-contrast) !important;
    }
    .alert-message{
        color:#ddd;
    }
}
