<ion-header class="screen-background">
  <ion-toolbar>
    <div slot="start">
      <ion-back-button defaultHref="device-add" icon="chevron-back-outline"></ion-back-button>
    </div>

    <ion-title class="page-title" translate="DEVICE.ADD_DEVICE"></ion-title>

    <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
      <ion-item class="item-transparent" lines="none">
        <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content class="screen-background">

  <ion-grid class="grid-content">
    <ion-row>
      <ion-col>
        <h2  *ngIf="!_options.connected" class="ion-margin-start" translate="DEVICE.CONNECTING"></h2>
        <h2  *ngIf="_options.connected" class="ion-margin-start" translate="DEVICE.CONNECTED"></h2>
        <ion-item lines="none" class="item-bluetooth">
          <ion-label class="ion-text-wrap">{{device && device.name ? device.name : 'No name found'}} <br>
            <small>ID: {{device ? device.id : "NO ID"}}</small>
          </ion-label>
          <ion-icon slot="end" *ngIf="!_options.connected" icon="cloud-offline-outline"></ion-icon>
          <ion-icon slot="end" *ngIf="_options.connected && step === 2" icon="cloud-outline"></ion-icon>
          <ion-icon slot="end" *ngIf="_options.connected && step === 3" icon="cloud-done-outline"></ion-icon>
          <ion-icon slot="end" *ngIf="step === 4" icon="close-circle-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col size=12 *ngIf="step === 1">
        <h4 class="ion-margin-start" translate="DEVICE.CONNECTING_FORM"></h4>
        <div class="ion-margin-bottom">
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-label class="label-input" translate="DEVICE.WIFI"></ion-label>
            <ion-input name="ssid" [(ngModel)]="_options.ssid" autofocus="true" placeholder="{{_t.WIFI}}" type="text">
            </ion-input>
          </ion-item>
          <ion-item class="item-transparent item-imput ion-margin-bottom" lines="none">
            <ion-label class="label-input" translate="DEVICE.PASSWORD"></ion-label>
            <ion-input name="password" [(ngModel)]="_options.password" placeholder="{{_t.PASSWORD}}" type="password"></ion-input>
          </ion-item>

          <ion-button class="ion-text-uppercase button-login" color="primary" expand="block" translate="DEVICE.CONNECT"
            (click)="connect()"></ion-button>
        </div>
      </ion-col>
      <ion-col class="loading-content" size=12 *ngIf="step === 2">
        <div>
          <div class="loading">
            <ion-spinner name="bubbles"></ion-spinner>
          </div>
          <p translate="DEVICE.CONNECTING_BLUETOOTH" *ngIf="!_options.connected"></p>
          <p translate="DEVICE.CONNECTING_SENDINGDATA" *ngIf="_options.connected && !_options.confirm"></p>
          <p translate="DEVICE.CONNECTING_WAITCONFIRM" *ngIf="_options.confirm"></p>
        </div>
        <ion-button class="ion-text-uppercase button-login" color="danger" fill="clear" expand="block"
          translate="DEVICE.CANCEL_CONNECT" (click)="stopConnection()"></ion-button>
      </ion-col>
      <ion-col class="loading-content" size=12 *ngIf="step === 3">
        <div class="img-content">
          <img src="./../../../../assets/img/ok.png">
        </div>
        <div>
          <ion-button class="ion-text-uppercase button-login" color="primary" expand="block"
            translate="DEVICE.CONNECTING_VIEWDEVICE" (click)="goToDevice()"></ion-button>
          <ion-button class="ion-text-uppercase button-login" color="dark" fill="clear" expand="block"
            translate="HOME.HOME" (click)="backHome()"></ion-button>
        </div>
      </ion-col>
      <ion-col class="loading-content" size=12 *ngIf="step === 4">
        <div class="img-content">
          <img src="./../../../../assets/img/error.png">
          <p translate="DEVICE.CONNECTING_ERROR_BLUETOOTH" *ngIf="!_options.connected"></p>
          <p translate="DEVICE.CONNECTING_ERROR_SENDINGDATA" *ngIf="_options.connected && !_options.confirm"></p>
          <p translate="DEVICE.CONNECTING_ERROR_CONNECTINGSERVER" *ngIf="_options.confirm"></p>
        </div>
        <div>
          <ion-button class="ion-text-uppercase button-login" color="primary" expand="block"
            translate="DEVICE.CONNECTING_TRYAGAIN" (click)="tryAgain()"></ion-button>
          <ion-button class="ion-text-uppercase button-login" color="dark" fill="clear" expand="block"
            translate="DEVICE.CONNECTING_HELP" (click)="goToHelp()"></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>