.loading{
    text-align: center;
    margin-top: 60px;
}
ion-spinner {
    transform: scale(3);
}
p{
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 46px;
}
.grid-content{
    height: 100%;
}
.row-content{
    height: calc(100% - 150px);
}
.loading-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-content{
    text-align: center;
    img{
        width: 50%;
    }
}