<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-button class="close-modal" fill="clear" (click)="dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
      <div slot="end">
        <ion-button class="close-modal" fill="clear" (click)="send()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="modal-content">
    <ion-list class="item-transparent" lines="none">
      <ion-item-divider class="item-transparent">
        <ion-label>{{'PROFILE.LOCATION' | translate}}</ion-label>
      </ion-item-divider>
      <ion-item class="item-transparent" (click)="setName()">
        <ion-icon slot="start" name="text"></ion-icon>
        <ion-label class="option">
          <h2><b>{{'PROFILE.LATNAME' | translate}}</b></h2>
          <h3>{{location.name}}</h3>
        </ion-label>

      </ion-item>
      <ion-item class="item-transparent" (click)="locationPicker()">
        <ion-icon slot="start" name="location"></ion-icon>
        <ion-label class="option">
          <h2><b>{{'PROFILE.LATLONG' | translate}}</b></h2>
          <h3>{{location.lat}}, {{location.lng}}</h3>
        </ion-label>

      </ion-item>
    </ion-list>
  </div>
</ion-content>