<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="DATA"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-segment class="tabs" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="statistics">
      <ion-label translate="DATAPAGE.TAB1"></ion-label>
    </ion-segment-button>
    <ion-segment-button value="alerts">
      <ion-label translate="DATAPAGE.TAB2"></ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="segments" [ngSwitch]="segment">
    <div class="segment" *ngSwitchCase="'statistics'">
      <div class="chart-items-container">
        <div class="chart-item" *ngFor="let e of chartItems; let i = index" [class.active]="e.active">
          <div class="chart-item-container" (click)="changeChartValue(e, i)">
            <span>{{e.TITLE}}</span>
            <small>{{e.SUBTITLE}}</small>
          </div>
        </div>
      </div>

      <div class="div-chart">
        <canvas class="canvas" [style.width.px]="width" #barCanvas
          style="position: relative; height:40vh; width:100vw"></canvas>
      </div>
      <div class="div-fondo">

        <div class="chip-container scroll" scrollX="true">
          <div class="chip-day-item" [class.active]="e.active" *ngFor="let e of dateItems; let i = index">
            <ion-chip class="chip-day" (click)="changeChartDay(e, i)">
              <ion-label><span class="day">{{e.d}}</span> <BR> <span class="day-short">{{e.t}}</span></ion-label>
            </ion-chip>
          </div>
        </div>

      </div>
    </div>
    <div *ngSwitchCase="'alerts'">

      <ion-refresher slot="fixed" (ionRefresh)="getAlerts($event)">
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>

      <ion-list class="item-transparent" *ngIf="listAlert.length > 0; else elseListAlert">
        <ion-card class="card-background" [ngClass]="alert.type" *ngFor="let alert of listAlert"
          (click)="showAlertModal(alert)">
          <ion-card-header>
            <ion-card-title>
              {{alert.title}}
            </ion-card-title>
            <small>{{alert.date}}</small>
          </ion-card-header>
          <ion-card-content>
            <p>{{alert.text}}</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ng-template #elseListAlert>
        <ion-card>
          <ion-card-content class="card-background">
            <p translate="DATAPAGE.NOALERTS"></p>
            <ion-button style="margin-top: 10px;" class="ion-text-uppercase" color="secondary" expand="block"
              translate="DATAPAGE.GOBACK" (click)="backToStatistics($event)"></ion-button>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </div>
  </div>

</ion-content>