.chip-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 40px;
    display: flex;
}

.div-chart {
    position: absolute;
    bottom: 100px;
    width: calc(100% + 40px);
}
.div-fondo {
    background: rgb(50, 71, 90);
    background: linear-gradient(0deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0px;

    .chip-day {
        border-radius: 20px;
        background-color: var(--ion-color-secondary-shade);
        min-width: 60px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        ion-label {
            text-align: center;
        }
        .day {
            font-size: 18px;
        }
        .day-short{
            font-weight: bold;
        }
    }
    .active .chip-day{
        background-color: var(--ion-color-light);
    }

}

.canvas {
    left: -20px;
}
.chart-items-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;

    .chart-item-container {
        margin: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 64px;
        height: 48px;
        background: var(--ion-color-primary-shade);
        color: var(--ion-color-secondary);
        border-radius: 5px;
        padding: 10px;
        line-height: 10px;

        font-size: 12px;

        small{
            font-size: 10px;
        }
    }
    .chart-item.active{
        text-align: center;
        .chart-item-container{
            background: linear-gradient(0deg, rgba(50, 71, 90, 1) 0%, rgba(62, 86, 104, 1) 100%);
        }
    }
    .chart-item.active:after {
        content:"• ";
        position: relative;
        top: -15px;
        color: var(--ion-color-primary);
        font-size: 24px;

    }
}

.card-background{
    ion-card-title {
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 13px;
    }
}

@media only screen and (min-width: 700px) {
    .chart-items-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 520px) {
    .chip-container {
        justify-content: center;
    }
}