::ng-deep {
    .alert-radio-label {
        font-size: 12px !important;
    }
}

.search-container {
    margin: 40px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    .search {
        --background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        --border-radius: 20px;
        width: 70%;
    }
}
ion-list {
    ion-item {
        border-bottom: 1px solid var(--ion-color-primary);
    }
}
.option {
    margin-left: 10px;
}
.value {
    font-size: 12px;
    color: #666;
}

::ng-deep {
    .alert-button-group {
        display: flex !important;
        justify-content: space-between !important;
    }
}
