<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SETTINGS_TITLE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-list class="item-transparent" lines="none">
    <ion-item class="item-transparent" (click)="setName()">
      <ion-icon name="text"></ion-icon>
      <ion-label class="option">{{'SETTINGS.NAME' | translate}}</ion-label>
      <ion-label class="value" slot="end">{{settings.name}}</ion-label>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label class="option">{{'SETTINGS.TIME' | translate}}</ion-label>
      <ion-select (ionChange)="changeTime($event)" class="value" [value]="settings.time_format" slot="end" placeholder="Select One">
        <ion-select-option value="24h">24 hours</ion-select-option>
        <ion-select-option value="12h">12 hours</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label class="option">{{'SETTINGS.TIMEZONE' | translate}}</ion-label>
      <ion-select (ionChange)="changeTimezone($event)" class="value" [value]="settings.time_zone_name" slot="end" placeholder="Select One">
        <ion-select-option *ngFor="let timezone of timezones" [value]="timezone.text">{{timezone.text}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label class="option">{{'SETTINGS.TEMP' | translate}}</ion-label>
      <ion-select (ionChange)="changeTemp($event)" class="value" [value]="settings.temp_format" slot="end" placeholder="Select One">
        <ion-select-option value="C">{{'SETTINGS.CELSIUS' | translate}} (Cº)</ion-select-option>
        <ion-select-option value="F">{{'SETTINGS.FAHRENHEIT' | translate}} (Fº)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-transparent" (click)="setLocation()">
      <ion-icon name="location"></ion-icon>
      <ion-label class="option">{{'SETTINGS.LOCATION' | translate}}</ion-label>
      <ion-label class="value" slot="end">{{settings.location ? settings.location.name : ''}}</ion-label>
    </ion-item>
    <ion-item class="item-transparent">
      <ion-icon name="disc"></ion-icon>
      <ion-label class="option">{{'SETTINGS.DISPLAY' | translate}}</ion-label>
      <ion-select (ionChange)="changeDisplay($event)" class="value" [value]="settings.time_display" slot="end" placeholder="Select One">
        <ion-select-option value="30">30 {{'SETTINGS.SECONDS' | translate}}</ion-select-option>
        <ion-select-option value="60">1 {{'SETTINGS.MINUTES' | translate}}</ion-select-option>
        <ion-select-option value="300">5 {{'SETTINGS.MINUTES' | translate}}</ion-select-option>
        <ion-select-option value="1500">15 {{'SETTINGS.MINUTES' | translate}}</ion-select-option>
        <ion-select-option value="0">{{'SETTINGS.ALWAYSON' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToFirmwareUpdate()">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="option">{{'SETTINGS.FIRMWARE' | translate}}</ion-label>
      <ion-label class="value" slot="end">{{settings.firm_version}}</ion-label>
      <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToUnlink()">
      <ion-icon name="unlink"></ion-icon>
      <ion-label class="option">{{'SETTINGS.UNLINK' | translate}}</ion-label>
      <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToFeedback()">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label class="option">{{'SETTINGS.FEEDBACK' | translate}}</ion-label>
      <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToManual()">
      <ion-icon name="book"></ion-icon>
      <ion-label class="option">{{'SETTINGS.MANUAL' | translate}}</ion-label>
      <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="item-transparent ion-activatable ripple-parent" (click)="goToFAQ()">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{'SETTINGS.FAQ' | translate}}</ion-label>
      <ion-icon slot="end" icon="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>

  </ion-list>

</ion-content>