.feedback {
    .opinion {
    }
    .response {
        text-align: right;
    }
    hr {
        background-color: #333;
        width: 80%;
    }
    .response-span {
        float: right;
        position: relative;
        top: -17px;
        left: -36px;
        font-size: 10px;
    }
}
.p-nofeed, .text-input{
    margin-bottom: 20px;
}
.error{
    color: var(--ion-color-danger)
}