<ion-content class="screen-background">
  <ion-header class="item-transparent">
    <ion-toolbar>
      <div slot="start">
        <ion-back-button defaultHref="device/{{device.id}}/settings" icon="chevron-back-outline"></ion-back-button>
      </div>

      <ion-title class="page-title" translate="SETTINGS_TITLE"></ion-title>

      <ion-menu-toggle slot="end" auto-hide="false" class="menu-btn">
        <ion-item class="item-transparent" lines="none">
          <ion-icon slot="end" ios="menu-outline" md="menu-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-segment class="tabs" [(ngModel)]="segment">
    <ion-segment-button value="old">
      <ion-icon name="bulb"></ion-icon>
      <ion-label translate="SETTINGS.FEEDBACK_TAB1"></ion-label>
    </ion-segment-button>
    <ion-segment-button value="new">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label translate="SETTINGS.FEEDBACK_TAB2"></ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'old'">
      <ion-card class="feedback card-background" *ngFor='let feed of feeds; let i=index;'>
        <ion-card-content class="opinion">
          {{feed.text}}
        </ion-card-content>
        <div *ngIf="feed.response">
          <hr>
          <span class="response-span">Our response</span>
          <ion-card-content class="response">
            {{feed.response}}
          </ion-card-content>
        </div>
      </ion-card>
      <ion-card class="card-background" *ngIf="!feeds.length">
        <ion-card-content>
          <h2 translate="SETTINGS.FEEDBACK_NEWTITLE"></h2>
          <p class="p-nofeed" translate="SETTINGS.FEEDBACK_NO"></p>
          <ion-button class="ion-text-uppercase" color="secondary" expand="block" translate="SETTINGS.FEEDBACK_TAB2"
            (click)="goToNewFeedback($event)"></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'new'">
      <ion-card class="card-background">
        <ion-card-content>
          <h2 translate="SETTINGS.FEEDBACK_NEWTITLE"></h2>
          <ion-item class="item-transparent">
            <ion-label position="stacked" translate="SETTINGS.FEEDBACK_SUGESTION"></ion-label>
            <ion-textarea [(ngModel)]="feedback" [placeholder]="_t.FEEDBACK_PLACEHOLDER">
            </ion-textarea>
          </ion-item>

          <div *ngIf="feedbackError" class="error" translate="SETTINGS.FEEDBACK_ERRORLENGTH">
          </div>

          <div class="text-input"></div>

          <ion-button class="ion-text-uppercase" color="secondary" expand="block" translate="SETTINGS.FEEDBACK_NEWBUTTON"
            (click)="sendFeedback($event)"></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>